
<<<<<<< HEAD
@{ Layout = null; }
=======
@{ Layout = null;}
>>>>>>> main
@model MVC_WebQuanLyQuanCafe.Models.NHANVIEN

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <style>
        #field {
            font-size: 1rem
        }

        body {
            margin: auto;
        }

<<<<<<< HEAD
        .card:hover{
            transition:0.5s;
            margin-top:-8px
        }

        center > #btn-submit:hover {
            background-color:cadetblue
=======
        .card:hover {
            transition: 0.5s;
            margin-top: -8px
        }

        center > #btn-submit:hover {
            background-color: cadetblue
>>>>>>> main
        }
    </style>
</head>
<body style="background: linear-gradient(to right, rgb(151, 150, 240), rgb(251, 199, 212));">
    <div class="container-fluid">
        <div class="row justify-content-md-center" style="margin-top: 10%;">
            <div class="col-md-6">
                <div class="card" style="border-radius: 40px 40px 40px 40px ">
                    <center style="width: 100%; height: 50px; background: linear-gradient(to right, rgb(15, 12, 41), rgb(48, 43, 99), rgb(36, 36, 62));
                        border-radius: 40px 40px 0px 0px; border: hidden ">
                        @*<img src="~/dist/img/gears.png" class="mt-1 card-img-top mx-auto" alt="DangNhap" style="width:100px;height:80px;">*@
                    </center>
                    <div class="card-header">
                        <center style="font-family: 'Trocchi', serif;
                            font-size: 35px; font-weight: normal; line-height: 48px; margin: 0;">
                            ĐĂNG NHẬP
                        </center>
                    </div>
                    <div class="card-body w-75 mx-auto">
                        @using (Html.BeginForm("DangNhap", "NhanVien", FormMethod.Post))
                        {
            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <b id="field">@Html.DisplayName("Tên tài khoản:")</b>
                                @Html.TextBoxFor(m => m.TENTAIKHOAN, "", new { @class = "form-control", @placeholder = "Tên tài khoản", @name = "TenTaiKhoan" })
                                <b style="color:red"> @ViewBag.LoiTen</b>
                            </div>
<<<<<<< HEAD
                                            <div class="form-group">
                                                <b id="field">@Html.DisplayName("Mật khẩu:")</b>
                                                @Html.PasswordFor(m => m.MATKHAU, new { @class = "form-control", @placeholder = "Mật khẩu", @name = "MatKhau" })
                                                <b style="color:red">@ViewBag.LoiMK</b>
                                            </div>
                                                            <div class="form-group">
                                                                <center style="margin-top:50px">
                                                                    <input type="submit" name="submit" id="btn-submit" class="btn btn-xs " value="Đăng Nhập"
                                                                           style="background: linear-gradient(to right, rgb(6, 190, 182), rgb(72, 177, 191));" /><br />
                                                                    <b style="color:red">@ViewBag.LoiTK</b>
                                                                </center>
                                                            </div>}
=======
                            <div class="form-group">
                                <b id="field">@Html.DisplayName("Mật khẩu:")</b>
                                @Html.PasswordFor(m => m.MATKHAU, new { @class = "form-control", @placeholder = "Mật khẩu", @name = "MatKhau" })
                                <b style="color:red">@ViewBag.LoiMK</b>
                            </div>
                            <div class="form-group">
                                <center style="margin-top:50px">
                                    <input type="submit" name="submit" id="btn-submit" class="btn btn-xs " value="Đăng Nhập"
                                           style="background: linear-gradient(to right, rgb(6, 190, 182), rgb(72, 177, 191));" /><br />
                                    <b style="color:red">@ViewBag.LoiTK</b>
                                </center>
                            </div>}
>>>>>>> main
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
